$primary-red: #ff6b61;
$text-dark: #333; 
$background-light: #f7f7f7; 

ion-header {
  ion-toolbar {
    --background: #ffffff;  
    border-bottom: 1px solid #eee;
    
    
  }
}

ion-content {
  --background: $background-light; 
}
.icon-img {
  width: 30px;
  height: auto;
}


.page-title-container {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 8px; 
  margin-bottom: 35px;
}



.page-title-container ion-icon {
  font-size: 55px; 
  color: $primary-red; 
}

.page-title {
  font-size: 25px;
  font-weight: 550;
  color: $text-dark;
  margin: 0; 
}

.chart-card {
  --background: #ffffff; 
  
  border-radius: 12px; 
  border: 1px solid #DADDE0;
  margin: 20px; 
  padding: 10px 0; 
  
  ion-card-header {
    padding-bottom: 5px; 
  }

  ion-card-title {
    font-size: 16px;
    font-weight: 600;
    color: $text-dark;
    padding-left: 16px; 
  }

  ion-card-content {
    padding: 10px 16px; 
  }
}

.chart-placeholder {
  width: 100%;
  height: 150px; 
  background-color: #fce4e0; 
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}

.line-chart {
  position: relative;
}

