<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <img src="assets/imagens/logo2.png" alt="Logo" class="icon-img">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="page-title-container">
    <ion-icon name="car-outline"></ion-icon>
    <h1 class="page-title">Veículos</h1>
  </div>

  <div class="vehicle-item-card" *ngFor="let veiculo of veiculos" style="position: relative;"
    [class.selected-vehicle]="veiculo.id === veiculoAtivoId" (click)="selecionarVeiculo(veiculo.id)">
    <div class="vehicle-details">
      <span class="vehicle-name">{{ veiculo.nome }}</span>
      <div class="consumption-info">
        <span class="consumption-value">{{ veiculo.kmInicial | number }}</span>
        <span class="consumption-unit">KM Inicial</span>
      </div>
      <ion-icon *ngIf="veiculo.id === veiculoAtivoId" name="checkmark-circle" color="success"
        style="position: absolute; right: 10px; top: 10px;"></ion-icon>
    </div>
    <ion-button fill="clear" expand="block" size="small" style="margin-top: 15px; color: #FF6363;"
      (click)="$event.stopPropagation(); confirmarExclusaoVeiculo(veiculo.id, veiculo.nome)">
      <b>Excluir Veículo</b>
    </ion-button>
  </div>


  <ion-button expand="block" class="calc-btn" (click)="abrirFormularioCadastro()">
    <ion-icon slot="start" name="add-circle-outline"></ion-icon>
    Adicionar veiculo</ion-button>


</ion-content>