<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <img src="assets\imagens\logo2.png" alt="Minha Imagem" class="icon-img">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

    
  
<ion-content [fullscreen]="true" class="integrantes-content">
  <div class="header">
    <img src="assets\imagens\logo.png"  class="logo"/>
  
  </div>

  <ion-list class="integrantes-list"  style="background-color: #ffffff;">
    <ion-item class="integrante-card">
     
      <ion-avatar slot="start">
        <img src="assets\imagens\foto1.png"/>
      </ion-avatar>
      <ion-label>
        <h2>Ester Silva de Campos</h2>
        <p><strong>RM:</strong>240072</p>
      </ion-label>
    </ion-item>

    <ion-item class="integrante-card">
      <ion-avatar slot="start">
        <img src="assets\imagens\foto3.png"/>
      </ion-avatar>
      <ion-label>
        <h2>Júlia Matos da Silva Xavier</h2>
        <p><strong>RM:</strong> 240170</p>
      </ion-label>
    </ion-item>

    <ion-item class="integrante-card">
      <ion-avatar slot="start">
        <img src="assets\imagens\foto2.png"/>
      </ion-avatar>
      <ion-label>
        <h2>Juliana de Souza Araújo</h2>
        <p><strong>RM:</strong> 240257</p>
      </ion-label>
    </ion-item>

    <ion-item class="integrante-card">
      <ion-avatar slot="start">
        <img src="assets\imagens\foto4.png"/>
      </ion-avatar>
      <ion-label>
        <h2>Giovanna A. de Carvalho </h2>
        <p><strong>RM:</strong> 240195</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
