.integrantes-content {
  --background: #ffffff; 
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.logo {
  width: 35vh;
  margin-bottom: 5px;
}   

.title {
  font-size: 22px;
  font-weight: bold;
  color: #52796f;
}

.integrantes-list {
  padding: 0;
  margin: 0;
}

.integrante-card {
  --background: #ffffff; 
  margin: 0;
  width: 100%;
  padding: 10px;
}

ion-avatar {
  width: 70px;
  height: 70px;
}

ion-avatar img {
  object-fit: cover;
  border-radius: 8px;
}

ion-label h2 {
  font-size: 16px;
  font-weight: bold;
  color: #2b3a35;
}

ion-label p {
  font-size: 14px;
  margin-top: 4px;
  color: #333;
}
.icon-img {
  width: 100%;
  max-width: 28px; 
  height: auto;    
  display: block;
}
    